* {
    font-family: 'Roboto Mono', monospace;
}

h1 {
    text-align: center;
    background-color: bisque;
    color: black;
}


.flex-container {
    display: flex;
    background-color: ghostwhite;
    padding: 20px;
}

.flex-container > div {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    justify-content: space-around;
    margin: auto;
}

.flex-child h3 {
    margin: 0px;
}

.flex-child p {
    margin: 10px 0px;
}

.flex-child {
    display: block;
    width: 45%;
}

/* segundo layout */

.box{
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.contenedor-imagen {
    display: block;
    width: 30%;
    margin: 0 35px;
}

.contenedor-imagen img {
    width: 100%;
}

.padre-flex {
    display: flex;
    padding-bottom: 20px;
    border-bottom: 3.5px solid yellow;
}

.contenedor-texto h2 {
    margin: 0px 75px;
}

.contenedor-texto p {
    margin: 45px 75px;
}

button {
    margin: 45px 75px;
    border: 3px solid yellow;
    width: 40%;
    height: 65px;
    background-color: white;
    color: black;
    transition-duration: 0.4s;
}

button:hover {
    background-color: yellow;
}

.hijo-flex{
    display: flex;
    margin: 20px 0px;
    padding-bottom: 20px;
    border-bottom: 3px solid yellow;
}

/*mobile*/

@media (max-width: 550px) {
    .box{
        padding: 20px;
    }
    .padre-flex {
        display: block;
    }
    .contenedor-imagen {
        display: block;
        width: 100%;
    }
    .contenedor-texto {
        padding: 20px 0;
    }
    .contenedor-texto h2 {
        padding: 20px 0;
    }
    .contenedor-texto p {
        padding: 20px 0;
    }
    .contenedor-texto button {
        border: 3px solid yellow;
        width: 100%;
        height: 50px;
        background-color: white;
        color: black;
        transition-duration: 0.4s;
    }
    button:hover {
        background-color: yellow;
    }
    .hijo-flex {
        display: block;
    }
    .contenedor-imagen {
        display: block;
        width: 100%;
    }
    .contenedor-imagen img {
        width: 80%;
        margin: 15px 0;
    }
    .contenedor-texto h2 {
        margin: 0;
    }
    .contenedor-texto p {
        margin: 0;
    }
    .contenedor-texto button {
        margin: 0;
        border: 3px solid yellow;
        width: 100%;
        height: 50px;
        background-color: white;
        color: black;
        transition-duration: 0.4s;
    }
    button:hover {
        background-color: yellow;
    }


    /*primer layout*/

    .flex-container {
        max-width: 100%;
        padding: 0;
    }
    .flex-child {
        width: 100%;
        height: 100%;
    }
    .flex-child iframe {
        width: 100%;
        height: 100px;
    }
    .flex-child h3 {
        text-align: center;
    }
    .flex-child p {
        text-align: center;
        border-bottom: 3px solid yellow;
        padding: 10px;
    }
}