* {
    font-family: 'Roboto Mono', monospace;
}

h1 {
    text-align: center;
    background-color: bisque;
    color: black;
}



.flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: cadetblue;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.flex-child {
    margin: auto;
}

.flex-container > div {
    display: flex;
    flex-wrap: inherit;
}

/* .box {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 20px;
} */




Flex-wrap
width:¨45 0 menos a los hijos
scarle el margin a todos y solo ponerlo en el main o donde quieras que se centre el main container
arreglar espacio violeta gigante en la derecha
sacarle el margin a todos, eliminar el br, reducir espacio entre h2,h3,etc
alinearlo a la izquierda (el texto debajo del video)
crear un pequeno espacio entre columna izquierda y columna derecha

segundo-layout
un div box - adentro un div (con flex) y adentro 2 uno par la imagen y otro para el texto